.menu-bar {
    margin: 10px;
    border: solid 2px grey;
}

.menu-button {
    width: 6em;
    height: 3em;
    border: solid 1px rgb(107, 107, 107);
    float: left;
    color: white;
    text-align: center;
    line-height: 39px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-button-active {
    background-color: #afafaf;
}

.menu-button-active:hover {
    background-color: #cacaca;
}

.menu-button-active:active {
    background-color: #dddddd;
}

.menu-button-disabled {
    background-color: rgb(183, 183, 183);
    color: rgb(201, 201, 201);
}

/* .menu-button.menu-button-add {
    background-image: url("./img/add.svg");
} */

/* .menu-button.menu-button-extract {
    background-image: url("./img/minus.svg");
} */