.menu-button {
    width: 6em;
    height: 3em;
    border: solid 1px green;
    float: left;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-button-active {
    background-color: lightyellow;
}

.menu-button-active:hover {
    background-color: rgb(213,202,0);
}

.menu-button-active:active {
    background-color: lightseagreen;
}

.menu-button-disabled {
    background-color: rgb(155, 155, 155);
}

/* .menu-button.menu-button-add {
    background-image: url("./img/add.svg");
} */

/* .menu-button.menu-button-extract {
    background-image: url("./img/minus.svg");
} */