.table {
  border-collapse: collapse;
  width: 100%;
  outline: none;
}

.row {
  background-color: lightyellow;
}

.row:hover {
  background-color: lightblue;
}

.row-selected {
  background-color: yellow;
}

.row-icon-and-filename {
  display: flex;
  align-items: center;
}

.row-entry-name {
  float: left;
  margin-left: 5px;
  width: 90%;
}

.row-icon {
  float: left;
  width: 20px;
  height: 24px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  /* border: solid 1px black;
  border-right: solid 1px rgba(0,0,0,0); */
}

.row-icon-file {
  background-image: url("./img/file.svg");
  background-size: 17px;
}

.row-icon-folder {
  background-image: url("./img/folder.svg");
  background-size: 20px;
  margin-left: 1px;
}

.header {
  border: solid 1px black;
  background-color: lightgray
}

.header-cell {
  border: solid 1px black;
}

.header-cell:hover {
  background-color: #555555;
  color: white;
}

.data {
  border: solid 1px black;
  /* padding: 5px; */
}

.sort-icon {
  width: 16px;
  position: relative;
  margin-left: 2px;
}