.table {
  border-collapse: collapse;
}

.row {
  background-color: lightyellow;
}

.row:hover {
  background-color: lightblue;
}

.row-selected {
  background-color: yellow;
}

.row-icon {
  width: 16px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: solid 1px black;
  border-right: solid 1px rgba(0,0,0,0);
}

.row-icon-file {
  background-image: url("./img/file.svg");
}

.row-icon-folder {
  background-image: url("./img/file.svg");
}

.header {
  border: solid 1px black;
  background-color: lightgray
}

.header-cell {
  border: solid 1px black;
}

.header-cell:hover {
  background-color: #555555;
  color: white;
}

.data {
  border: solid 1px black;
  padding: 5px;
}

.sort-icon {
  width: 16px;
  position: relative;
  margin-left: 2px;
}